<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Design</title>
    <link rel="stylesheet" href="homepage/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header class="header">
        <div class="logo">
            <span><span class="highlight">2</span>Design</span>
        </div>
        <div class="header-buttons">
            <% if (user) { %> <!-- Jika user sudah login -->
                <a href="/logout" id="logout-btn" class="logout-btn">Log Out</a>
                <span>Welcome, <%= user.username %>!</span>
            <% } else { %> <!-- Jika user belum login -->
                <a href="/signup" id="signup-btn" class="signup-btn">Sign Up</a>
                <a href="/login" id="login-btn" class="login-btn">Login</a>
            <% } %>
        </div>
        
        </div>
        
    </header>
    

    <main>
        <section class="hero">
          <h1>
            Browse talented <span class="highlight">designers</span><br> 
            and start your project now.
          </h1>
          <p>
            "Find experienced designers who specialize in various creative fields, from 
            branding and marketing to illustration and UI/UX design. Enjoy a smooth and 
            secure process where your satisfaction comes first."
          </p>
          <button class="cta-btn">Start hiring now!</button>
        </section>
      </main>


      <section class="cards">
        <% portfolios.forEach(portfolio => { %>  
        <a href="#" class="card-link" data-id="<%= portfolio.id %>">
            <div class="card">
                <img src="<%= portfolio.image_url %>" alt="<%= portfolio.title %>" />
                <h2><%= portfolio.title %></h2>
                <span class="badge"><%= portfolio.badge %></span>
                <p><%= portfolio.role %></p>
            </div>
        </a>
        <% }); %>
    </section>
    
    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <div class="logo"><span><span class="highlight">2</span>Design</span></div>
                <p>November 2024</p>
                <p>Made by Kelompok 2 Pemrograman Web</p>
            </div>
            
                </div>
            </div>
        </div>
    </footer>
      <script src="script.js"></script></script>
</body>
</html>